<footer class="pt-4 pb-6 dark:bg-gray-900 dark:text-gray-400 bg-gray-200 px-4">
  <div style="max-width: 65ch;" class="mx-auto">
    <p>
      Hey! I am Shreshth. This site is an attempt to share my
      progress while I try to live a more intentional and fulfilling life. If
      you want to talk to me, find me on
      <a class="dark:text-blue-400" href="https://twitter.com/shreshthmohan">Twitter</a>
      or email me at
      <a class="dark:text-blue-400" target="_blank" href="mailto:shreshthmohan@hey.com"
        >shreshthmohan@hey.com</a
      >
    </p>
  </div>
</footer>
